@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@300&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Rokkit', sans-serif; 
}
/* html{
    font-size: 10px;
} */
/* a{
    text-decoration: none;
} */
/* .container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} */
body{
    min-height: 100vh;
    background: linear-gradient(#ffdad9, #e5969c);
    overflow-x: hidden;
}
header{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    padding: 30px 100px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    z-index: 100;
}
.logo{
    color:#324f4d;
    font-weight:700;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    pointer-events: none;
    margin-right: 270px;
}
.navigation a{
    text-decoration: none;
    padding: 6px 15px;
    color:#324f4d;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}
.navigation a:hover,
.navigation a:active{
    background: white;
    color:#324f4d;
}

.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text{
    position: absolute;
    font-size: 5em;
    color:#ffdad9;
    text-shadow: 2px 2px 4px rgba(0,0,0,.2);
}

.parallax img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    pointer-events: none;
}
.sec{
    position: relative;
    /* background: #003329; */
    background: #004235;
    padding: 100px;
}
.sec h2{
    font-size: 3em;
    color:#e5969c;
    margin-bottom: 10px;
}
.sec p{
    color:black;
    font-size: 1em;
    font-weight: 300;
}

.bton{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
}
.btn{
    border-radius: 20px;
    background: none;
    border: 2px solid #000;
    /* font-family: "montsee"; */
    text-transform: uppercase;
    padding: 12px 20px;
    min-width: 200px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
}
.btn:hover{
    color: #fff;
}
.btn:before{
    border-radius: 20px;
    content: "";
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.btn1::before{
    transform: scaleX(0);
}
.btn1::before{
    transform: scaleY(0);
}
.btn1:hover::before{
    transform: scaleX(1);
}
.btn1:hover::before{
    transform: scaleY(1);
}
/* header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color:#324f4d;
    border-radius: 20px;
}
header ul li a.active
{
    background: white;
    color:#ffdad9;
} */

/* hero section  */
/* #hero{
    background-image: url(cat3.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index:1;
}
#hero::after{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
} */
/* .hero h1{
    display: block;
    width: fit-content;
    font-size: 10rem;
    position: relative;
    color: rgb(1, 1, 1);
}
#hero .cta{
    display: inline-block;
    padding: 10px 30px;
    color:black;
    background-color: transparent;
    border: 2px solid black;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 36px;
    transform: .3s ease background-color;
    transition-property: background-color, color;
}
#hero .cta:hover{
    color:white;
    background-color: #e5969c;
} */
/* end hero section  */